#Marvin Pilay, Johnny Cambisaca, George Gonzalez

fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
pytest
pytest-cov
mockito
#instalar pip install -r requirements.txt